* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  background: url("../assets/Desktop_Backgrounds_1920x1200_6 3.svg") no-repeat center center;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
  padding-bottom: 20%;
}

header {
  display: flex;
  flex-direction: row;
  gap: 165px;
  padding: 45px 153px;
  font-family: 'Source Sans 3';
  font-style: normal; 
}

.burger_menu {
  display: none;
}

.header-header {
  font-size: 20px; 
  font-weight: 600;
  line-height: 16px; 
  letter-spacing: 2px;
}

.header-nav {
  font-size: 14px; 
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2.8px; 
  
  display: flex;
  flex-direction: row;
  gap: 32px;

  list-style: none;
}

.header-nav > li {
  text-decoration: none;
  cursor: pointer;
}

.header-nav > li:nth-child(2) {
  display: block;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
}

.intro-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.headline-logo {
  width: 80px;
  height: 80px;
}

.headline-logo img {
  width: 63px;
  height: 63px;
  transition: width 2s, height 2s, transform 1s;
}

.headline-logo:hover img {
  width: 80px;
  height: 80px;
  transform: rotateY(180deg);
}

.headline-header {
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  max-width: 350px;

  text-align: center;
  margin-bottom: 40px;
}

.headline-text {
  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 420px;

  margin-bottom: 48px;
}

.headline {
  max-height: 700px;
  flex-shrink: 0; 
  background-color: #EEEEEE;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.headline-text-container {
  display: flex;
  flex-direction: row;
  gap: 83px;

  margin-bottom: 46px;
}

.headline-text-2 {
  color: #666; 
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 408px;

}

.read-more-button {
  border-radius: 18px;
  border: none;
  background-color: #55C2D8;
  color: white;
  width: 115px;
  height: 36px;
  flex-shrink: 0; 
  margin-bottom: 200px;
  cursor: pointer;
  transition: transform 0.5s;
  transform-origin: left;
}

.read-more-button:hover {
  transform: rotateZ(20deg);
}

.learn-more {
  background: url("../assets/Learn_more_Background.png") no-repeat center center;
}

.overlay-learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 666px;
  max-width: 1200px;
  padding-top: 84px;
  text-align: center;
  margin: 0 auto;
  background: rgba(140, 79, 42, 0.30);
}

.learn-more-header {
  max-width: 350px;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; 
  margin-bottom: 53px;
}

.circle-button {
  width: 150px;
  height: 150px;
  background-color: #39C2D7;
  flex-shrink: 0; 
  border-radius: 50%;
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 70px;
  cursor: pointer;
  transition: transform 1s;
}

.circle-button-icon {
  font-size: 75px;
}

.circle-button:hover {
  color: #39C2D7;
  background-color: white;
  transform: scale(0.95);
}

.learn-more-text {
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  width: 390px; 
}

footer {
  background-color: #464547;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-inner {
  padding-left: 153px;
  padding-top: 56px;

  display: flex;
  flex-direction: row;
}

.company-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin-right: 81px;
}

.footer-logo {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.footer-header {
  font-family: 'Source Sans 3';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 12px;
  letter-spacing: 3.6px; 
  word-wrap: break-word;
}

.company-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 286px;
}

.footer-text {
  color: rgba(255, 255, 255, 0.40);
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; 
  margin-bottom: 27px;
}

.company-rights {
  display: flex;
  align-self: flex-end;
}

.gray {
  color: #464547; 
}

.width-2 {
  max-width: 670px;
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  header {
    padding: 50px 27px 0 27px;
    justify-content: space-between;
  }

  .burger_menu {
    display: block;
  }

  .width-2 {
    max-width: 360px;
  }

  .headline {
    padding-top: 65px;
    max-height: 990px;
  }

  .headline-text-container {
    flex-direction: column;
    gap: 24px;
  }

  .read-more-button {
    margin-bottom: 116px;
  }

  .footer-inner {
    flex-direction: column; 
    text-align: center;
    padding: 39px 0;
    align-items: center;
  }

  .company-label {
    margin: 0;
    align-self: center;
  }

  .company-address {
    margin: 0;
  }

  .footer-text {
    margin-bottom: 18px;
  }

  .company-rights {
    align-self: auto;
  }
}